<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722738141719-k3ea79l5h04f367nhc1anu2iq5d57edu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722738141719-k3ea79l5h04f367nhc1anu2iq5d57edu</string>
	<key>API_KEY</key>
	<string>AIzaSyA4DIqit0A34AC-VhkMkeBsh1f_t9P9_CU</string>
	<key>GCM_SENDER_ID</key>
	<string>722738141719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.withParents</string>
	<key>PROJECT_ID</key>
	<string>withparents</string>
	<key>STORAGE_BUCKET</key>
	<string>withparents.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722738141719:ios:7d2753e7e99bf1bc875a52</string>
</dict>
</plist>